body {
  background-color: lightslategrey;
}

header{
  background-color: salmon;
}

#sales-table {
  display: inline-block;
  margin: 20px auto;
}

table {
  font-size:16px;
  display: inline-block;
  margin: 20px auto;
}
tr {
  padding: 20px;
}
td {
  background-color: rgb(250, 196, 179);
  padding: 10px;
}