body {
  background-color: salmon;
  width: 1200px;
  margin: auto;
}

h1 {
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  display: block;
  margin: 10px auto;
  width: 550px;
}

a {
  border-radius: 10px;
  margin: 15px 10px 15px 10px;
  padding: 9px;
  font-size: 20px;
  background-color: lightgrey;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 10px 15px;
}

header{
  background-color: white;
  text-align: center;
  margin: 25px 0px;
}

#about-us {
  font-size: 18px;
  margin: 10px auto;
  width: 750px;
}

#store {
  background-color: rgb(184, 184, 184);
  margin-top: 25px;
  width: 400px;
  height: 150px;
}

#store {
  border-radius: 10px;
  margin: 20px auto;
  align-content: 
}

.store-input {
  display: block;
  margin: 10px;
}

#sales-table {
  display: inline-block;
  margin: auto;
}

.form-input {
  border-radius: 10px;
  background-color: rgb(245, 241, 202);
}

#submit-button {
  margin: 3px auto;
  border: 1px solid;
  border-radius: 10px;
}

#submit-button:hover {
  border-radius: 10px;
  background-color: red;

}

table {
  font-size:16px;
  display: inline-block;
  margin: 20px auto;
  border:1px solid black;
}

tr {
  padding: 20px;
}

tr:hover td { 
  background-color: yellow;
}
/* tr:nth-child(3) td:nth-child(2) */
td:nth-child(odd) {
  background-color: lightgrey;
}

td {
  background-color: grey;
  padding: 10px;
  border:1px solid black;
}